[Unit]
Description=NVME-of connections over ZT
Wants=nvme-zt-pre.target nvme-cleanup.service
After=nvme-zt-pre.target nvme-cleanup.service
DefaultDependencies=no
Conflicts=shutdown.target