[Unit]
Description=Preinstall nix as primary user
Wants=network-online.target network.target
After=network-online.target systemd-tmpfiles-setup.service
ConditionPathExists=!/var/home/hkj/.nix-profile/bin/nix

[Service]
Type=oneshot
RemainAfterExit=yes
User=hkj
Group=hkj
ExecStart=/usr/bin/nixStatic profile add "nixpkgs#nixVersions.latest"
