[Unit]
Description=Provision UFW firewall with default rules
ConditionPathExists=!/var/lib/provisions/ufw
Requires=ufw.service
After=provision-pre.target
After=ufw.service

[Service]
StateDirectory=provisions
Type=oneshot
ExecStart=/usr/bin/flock /run/provision-ufw.lock /bin/bash -c ' \
            /usr/bin/ufw allow ZeroTier && \
            /usr/bin/ufw allow in on zt3uq46eqh from 192.168.233.0/25 && \
            /usr/bin/ufw enable'
ExecStart=/usr/bin/touch ${STATE_DIRECTORY}/ufw
RemainAfterExit=yes