[Unit]
Description=Remote fs mounted via Zerotier
Wants=zt-remote-fs-pre.target
After=zt-remote-fs-pre.target
DefaultDependencies=no
Conflicts=shutdown.target