[Unit]
Description=Provision UFW firewall for primary cluster connections
ConditionPathExists=!/var/lib/provisions/ufw-primary-cluster
Requires=ufw.service
After=provision-pre.target
After=ufw.service provision-ufw.service

[Service]
StateDirectory=provisions
Type=oneshot
# Accept traffic from client IP block
ExecStart=/usr/bin/ufw allow in on zt3uq46eqh from 192.168.192.0/23
# Accept intra-cluster traffic
ExecStart=/usr/bin/ufw allow in on zt3uq46eqh from 192.168.194.0/23
ExecStart=/usr/bin/touch ${STATE_DIRECTORY}/ufw-primary-cluster
RemainAfterExit=yes