[Unit]
Description=Bind mount root to /realHost for K8s consistency
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=/
Where=/realHost
Type=none
LazyUnmount=yes
Options=rbind,rslave