[Unit]
Description=Prerequisite synchronization point for remote fs mounted via Zerotier
RefuseManualStart=yes
Requires=zerotier-one.service
Wants=systemd-networkd-wait-online@zt3uq46eqh.service
After=zerotier-one.service network.target systemd-networkd-wait-online@zt3uq46eqh.service