[Unit]
Description=Prerequisite synchronization point for remote fs mounted via Zerotier
RefuseManualStart=yes
Requires=zerotier-one.service
After=zerotier-one.service